<div class="welcome-image">
    <main class="welcome-content">
        <header class="website-title">
            <h1>SPOTIFY STATS</h1>
        </header>
        <section id="welcome-description">
            <h4>Why wait until the end of the year to view your music history?</h4>
            <h4>Understand your Spotify listening behavior much sooner.</h4>
        </section>
        <section id="welcome-links">
            <%= link_to 'SIGN UP', new_user_path, class: "btn-sign-up-app" %><br>
            <%= link_to 'LOG IN', login_path, class: "btn-log-in-app" %>
            <span class="welcome-links-break">
                <p>OR</p>
            </span>
            <%= link_to 'LOG IN WITH SPOTIFY', authentication_path, class: "btn-log-in-spotify"  %>
        </section>
    </main>
</div>