<div class="background-color">
    <div class="welcome-image">
        <div class="welcome-content">
            <header class="website-title">
                Spotify Stats
            </header>

            <h3>Why wait until the end of the year to see your music history?</h3>
            <h3>Understand your listening behavior on Spotify sooner.</h3>

            <%= link_to 'Sign Up', new_user_path %><br>
            <%= link_to 'Log In', login_path %>
            OR
            <br>
            <%= link_to 'Log In with Spotify', authentication_path %>
        </div>
    </div>
</div>