@font-face {
    font-family: 'website-title';
    src: url('../fonts/kiona-regular.woff2') format('woff2'),
         url('../fonts/kiona-regular.woff') format('woff');
}

@font-face {
    font-family: 'website-content';
    src: url('../fonts/arcon-regular.woff2') format('woff2'),
         url('../fonts/arcon-regular.woff') format('woff');
}

@font-face {
    font-family: 'report-heading';
    src: url('../fonts/roboto-bold.woff2') format('woff2'),
         url('../fonts/roboto-bold.woff') format('woff');
}