body, html {
    height: 100%;
    margin: 0 auto;
}

.welcome-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.73),rgba(0, 0, 0, 0.73)),
    url(binary_cloud.jpeg);
    background-position: 23% 64%;
    /* background-position: 33% 100%; */
    /* background-position: center; */
    /* background-size: cover; */
    height: 100%;

    position: relative;
    z-index: 0;
    /* background-image: url(music_wave_2.png);
    height: 97vh;
    background-size: 750px 37vh;
    background-repeat: no-repeat;
    margin: auto;
    border: solid 1px green;
    background-position: 50% 62%;*/
}

/* .welcome-image::before {
    background: linear-gradient(to right, rgb(93, 246, 252),rgb(93, 174, 250),rgb(221, 83, 255)); 
    mix-blend-mode: multiply;   
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
} */

.welcome-content, .registration-content  {
    color: white;
    text-align: center;
    width: 95%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* border: 1px solid green; */
}

.website-title h1, .registration-title h1 {
    font-family: 'website-title', sans-serif;
    font-weight: normal;
    font-size: 88px;
    margin: auto;
    /* border: 1px solid green; */
}

#welcome-description, .welcome-links-break p, .registration-links-break p {
    /* border: 1px solid green; */
    font-family: 'website-content', sans-serif;
    font-size: 25px;
    font-weight: 100;

    position: relative;
    top: .799em;
}

.welcome-content h4 {
    margin: 9px auto;
}
/* 
.welcome-content p {
    font-family: 'website-content', sans-serif;
    font-size: 1em;
    margin: 10px auto;
} */

#welcome-links {
    padding: 3px 0px;
    border-radius: 3px;
    position: relative;
    margin: 0 auto;
    /* border: 1px solid rgb(212, 212, 212); */
    width: 226px;
    /* background-color: rgba(146, 146, 146, 0.274); */
    
    top: 2.8em;
}

.btn-sign-up-app, .btn-log-in-app, .btn-log-in-spotify, .btn-registration-submit, .btn-registration-alt {
    display: inline-block;
    margin: 5px auto;
    width: 220px;
    padding: 7px 0px 6px 0;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.959);
    /* border: 1px solid rgba(187, 187, 187, 0.959); */

    cursor: pointer;

    transition: all 0.4s;

    font-family: 'website-content', sans-serif;
    color: rgb(95, 95, 95);
    font-size: .86em;
    font-weight: bolder;
    text-decoration: none;
    letter-spacing: 2px;
}

.btn-sign-up-app:active, .btn-log-in-app:active, .btn-log-in-spotify:active, .btn-registration-submit:active, .btn-registration-alt:active  {
    transform: scale(.98);
}

.btn-sign-up-app:hover, .btn-log-in-app:hover {
    background-color: rgba(240, 240, 240, 0.925);
    color: rgba(49, 49, 49, 0.877);
}

.btn-log-in-spotify:hover {
    background-color: rgb(56, 151, 128);
}

.welcome-links-break, .registration-links-break {
    display: block;
}

.welcome-links-break p, .registration-links-break p {
    font-size: .75em;
    display: inline;

    position: relative;
    top: 1px;
}

.btn-log-in-spotify {
    background-color: rgb(70, 182, 154);
    color: #fff;
    border: none;
}

.welcome-links-break::before, .welcome-links-break::after, .registration-links-break::before, .registration-links-break::after {
    content: "";
    display: inline-block;
    background-image: linear-gradient(to right,rgb(212, 212, 212), rgba(212, 212, 212));
    height: 1px;
    width: 92px;
    
    position: relative;
    top: -3px;
}

.registration-content {
    border-radius: 20px;
    border: 1px solid rgba(233, 233, 233, 0.795);
    background-color: rgba(180, 180, 180, 0.075);
    width: 265px;
    padding: 9px 0 9px 0;
}

.registration-title h1 {
    font-size: 52px;
}

.registration-form {
    /* border: 1px solid green; */
    padding-top: 10px;
}

form input[type="text"], form input[type="password"] {
    display: block;
    margin: 0 auto;
    font-size: 14px;
    width: 190px;
    border-radius: 3px;
    height: 11px;
    padding: 10px;
    border: none;
    margin-bottom: 8px;
}

form input[type="text"]:focus, form input[type="password"]:focus{
    outline: none;
    box-shadow: 0 0 0 1.5px hsla(182, 100%, 57%, 0.74);
    background: hsl(189, 41%, 97%);
}

.btn-registration-submit, .btn-registration-alt {
    display: block;
    margin: 0 auto;
    font-size: 14px;
    width: 210px;
    border-radius: 3px;
    height: 31px;

    background-color: rgb(70, 182, 154);
    color: #fff;

    padding: 0px;
    outline: none;
    border: none;
}

.btn-registration-submit:hover {
    background-color: rgb(56, 151, 128);
}

.registration-links-break {
    padding: 10px 0 10px 0;
}

.btn-registration-alt {
    margin-bottom: 8px;
    line-height: 32px;

    /* background-color: rgba(255, 255, 255, 0.959);
    color: rgb(95, 95, 95); */

    background-color: rgba(202, 202, 202, 0.959);
    color: rgb(85, 85, 85);
}

.btn-registration-alt:hover {
    background-color: rgba(245, 245, 245, 0.966);
    color: rgba(49, 49, 49, 0.877);
}

.msg-box {
    background-color: hsl(54, 94%, 66%);
    color: rgb(26, 26, 26);
    /* border: 1px solid white; */

    padding: 7px 7px;
    margin: 5px 15px 5px 15px;
    border-radius: 3.5px;

    font-family: Arial;
    font-size: 14px;
}

.msg-box ul {
    padding: 0 0 0 18px;
    margin: 0 auto;
    text-align: left;
}

.background-color {
    background: linear-gradient(to right, #141414, #303335);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flow-root;
    height: 100%;
}

.setup-wrapper {
    margin: 0 auto;
    border-radius: 20px;
    border: 2px solid rgba(50, 119, 102, 0.733);
    background: rgba(3, 17, 34, 0.808);

    margin-top: 55px;
    width: 480px;
    padding: 25px 25px;

    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-setup {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.header-setup h3, .report-name, .add-report {
    /* display: inline-block;
    float: left; */
    font-family: "website-title", sans-serif;
    font-size: 17px;
    color: rgb(250, 250, 250);
    letter-spacing: 1px;
    padding: 0px;
    margin: 0px 0px 0px 0px;
}

.btn-log-out {
    /* float: right; */
    width: 91px;
    margin: 0px 0px 0px 0px;
    padding: 2px 0px 0px 3px;
    background-color: rgba(177, 177, 177, 0);
    border: 1px solid rgba(207, 207, 207, 0.6);
    border-radius: 3px;
    outline: none;
    
    font-size: 14.5px;
    font-family: 'website-content', sans-serif;
    color: rgba(207, 207, 207, 0.6);
    letter-spacing: 1.6px;
    
    transition: all 0.4s;
    cursor: pointer;
}

.btn-log-out:hover {
    background-color: rgba(236, 236, 236, 0);
    color: rgba(250, 247, 87, 0.884);
    border: 1px solid rgba(250, 247, 87, 0.884);
}

.btn-log-out:active {
    transform: scale(.97);
}

#index-msg-box {
    padding: 6px 0px;
    margin: 20px 0px 0px 0px;
    text-align: center;
    font-size: 14.5px;
}

.report-folders {
    margin: 25px 0 0 0;
}

.existing-report-folder {
    position: relative;
}

.report-name, .add-report {
    border-radius: 20px;
    border: 0.5px solid rgba(207, 207, 207, 0.6);
    margin: 0 0 20px 0;
    padding: 15px 145px 15px 19px;

    display: block;

    color: rgba(207, 207, 207, 0.6);
    letter-spacing: 0px;
    text-decoration: none;

    transition: all 0.4s;
}

.report-name:hover {
    background-color: rgba(99, 228, 196, 0.377);
    color: rgba(250, 250, 250);
    /* color: rgba(99, 228, 196);
    border: 1px solid rgba(99, 228, 196); */
}

.report-name:active, .add-report:active {
    transform: scale(.99);
}

.edit-report {
    position: absolute;
    top: 13.3px;
    left: 394px;
}

.edit-report img {
    width: 23.24px;
    filter: brightness(0.58);
    /* filter: brightness(0.5) sepia(1) saturate(10000%) hue-rotate(319deg); */
    /* transition: all 0; */
}

.edit-report img:hover {
    filter: brightness(15) sepia(1) saturate(2000%) hue-rotate(405deg);
}

.edit-report img:active {
    /* transform: scale(.9); */
}

.delete-report {
    position: absolute;
    top: 12px;
    left: 434px; 
}

.delete-report img {
    width: 19px;
    filter: brightness(0.55);
    /* filter: brightness(0.5) sepia(1) saturate(10000%) hue-rotate(-10deg); */
}

.delete-report img:hover{
    filter: brightness(0.5) sepia(1) saturate(10000%) hue-rotate(-33deg)
}

.delete-report img:active {
    /* transform: scale(.9); */
}

.add-report {
    padding: 15px 19px 15px 19px;
    margin: 0 auto;
    text-align: center;

    border: 0.5px dashed rgba(207, 207, 207, 0.6);
}

.add-report img {
    width: 14px;
    filter: brightness(0.55);
    position: relative;
    top: 1px;
    left: -6.5px;
    /* filter: brightness(0.5) sepia(1) saturate(10000%) hue-rotate(-10deg); */

    transition: all 0.4s;
}

.add-report:hover {
    background-color: rgba(46, 115, 143, 0.733);
    color: rgba(250, 250, 250);
}

.add-report:hover > img {
    filter: brightness(.94);
}

/* Breakpoints */

@media only screen and (max-width: 800px) {
    .website-title h1 {
        font-size: 11vw;
    }
    #welcome-description h4 {
        font-size: 3.13vw;
    }
}

@media only screen and (max-width: 630px) {
    .website-title h1 {
        font-size: 69px;
    }
    #welcome-description h4 {
        font-size: 19.8px;
    }
}

@media only screen and (max-width: 570px) {
    .website-title h1 {
        font-size: 69px;
        /* border: 1px solid green; */
        width: 345px;     
    }
    #welcome-description {
        display: none;
    }
    #welcome-links {
        top: 0.3em;
    }
}

@media only screen and (max-width: 380px) {
    .website-title h1 {
        width: auto;     
    }
    #welcome-description {
        display: none;
    }
    #welcome-links {
        top: 0.3em;
    }
}